<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.message.dao.KhmessageMapper" >
  <resultMap id="BaseResultMap" type="com.message.domain.Khmessage" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="kh_name" property="khName" jdbcType="VARCHAR" />
    <result column="kh_tel" property="khTel" jdbcType="VARCHAR" />
    <result column="kh_address" property="khAddress" jdbcType="VARCHAR" />
    <result column="fp_user" property="fpUser" jdbcType="INTEGER" />
    <result column="intime" property="intime" jdbcType="VARCHAR" />
    <result column="lasthf" property="lasthf" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="tag" property="tag" jdbcType="VARCHAR" />
    <result column="last_user" property="lastUser" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.message.domain.KhmessageWithBLOBs" extends="BaseResultMap" >
    <result column="kh_ly" property="khLy" jdbcType="LONGVARCHAR" />
    <result column="fp_hf" property="fpHf" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, kh_name, kh_tel, kh_address, fp_user, intime, lasthf, type, tag, last_user
  </sql>
  <sql id="Blob_Column_List" >
    kh_ly, fp_hf
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from khmessage
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from khmessage
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.message.domain.KhmessageWithBLOBs" >
    insert into khmessage (id, kh_name, kh_tel, 
      kh_address, fp_user, intime, 
      lasthf, type, tag, 
      last_user, kh_ly, fp_hf
      )
    values (#{id,jdbcType=BIGINT}, #{khName,jdbcType=VARCHAR}, #{khTel,jdbcType=VARCHAR}, 
      #{khAddress,jdbcType=VARCHAR}, #{fpUser,jdbcType=INTEGER}, #{intime,jdbcType=VARCHAR}, 
      #{lasthf,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER}, #{tag,jdbcType=VARCHAR}, 
      #{lastUser,jdbcType=INTEGER}, #{khLy,jdbcType=LONGVARCHAR}, #{fpHf,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.message.domain.KhmessageWithBLOBs" >
    insert into khmessage
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="khName != null" >
        kh_name,
      </if>
      <if test="khTel != null" >
        kh_tel,
      </if>
      <if test="khAddress != null" >
        kh_address,
      </if>
      <if test="fpUser != null" >
        fp_user,
      </if>
      <if test="intime != null" >
        intime,
      </if>
      <if test="lasthf != null" >
        lasthf,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="tag != null" >
        tag,
      </if>
      <if test="lastUser != null" >
        last_user,
      </if>
      <if test="khLy != null" >
        kh_ly,
      </if>
      <if test="fpHf != null" >
        fp_hf,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="khName != null" >
        #{khName,jdbcType=VARCHAR},
      </if>
      <if test="khTel != null" >
        #{khTel,jdbcType=VARCHAR},
      </if>
      <if test="khAddress != null" >
        #{khAddress,jdbcType=VARCHAR},
      </if>
      <if test="fpUser != null" >
        #{fpUser,jdbcType=INTEGER},
      </if>
      <if test="intime != null" >
        #{intime,jdbcType=VARCHAR},
      </if>
      <if test="lasthf != null" >
        #{lasthf,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="tag != null" >
        #{tag,jdbcType=VARCHAR},
      </if>
      <if test="lastUser != null" >
        #{lastUser,jdbcType=INTEGER},
      </if>
      <if test="khLy != null" >
        #{khLy,jdbcType=LONGVARCHAR},
      </if>
      <if test="fpHf != null" >
        #{fpHf,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  
  
  
  <update id="updateByPrimaryKeySelective" parameterType="com.message.domain.KhmessageWithBLOBs" >
    update khmessage
    <set >
      <if test="khName != null" >
        kh_name = #{khName,jdbcType=VARCHAR},
      </if>
      <if test="khTel != null" >
        kh_tel = #{khTel,jdbcType=VARCHAR},
      </if>
      <if test="khAddress != null" >
        kh_address = #{khAddress,jdbcType=VARCHAR},
      </if>
      <if test="fpUser != null" >
        fp_user = #{fpUser,jdbcType=INTEGER},
      </if>
      <if test="intime != null" >
        intime = #{intime,jdbcType=VARCHAR},
      </if>
      <if test="lasthf != null" >
        lasthf = #{lasthf,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="tag != null" >
        tag = #{tag,jdbcType=VARCHAR},
      </if>
      <if test="lastUser != null" >
        last_user = #{lastUser,jdbcType=INTEGER},
      </if>
      <if test="khLy != null" >
        kh_ly = #{khLy,jdbcType=LONGVARCHAR},
      </if>
      <if test="fpHf != null" >
        fp_hf = #{fpHf,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.message.domain.KhmessageWithBLOBs" >
    update khmessage
    set kh_name = #{khName,jdbcType=VARCHAR},
      kh_tel = #{khTel,jdbcType=VARCHAR},
      kh_address = #{khAddress,jdbcType=VARCHAR},
      fp_user = #{fpUser,jdbcType=INTEGER},
      intime = #{intime,jdbcType=VARCHAR},
      lasthf = #{lasthf,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
      tag = #{tag,jdbcType=VARCHAR},
      last_user = #{lastUser,jdbcType=INTEGER},
      kh_ly = #{khLy,jdbcType=LONGVARCHAR},
      fp_hf = #{fpHf,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.message.domain.Khmessage" >
    update khmessage
    set kh_name = #{khName,jdbcType=VARCHAR},
      kh_tel = #{khTel,jdbcType=VARCHAR},
      kh_address = #{khAddress,jdbcType=VARCHAR},
      fp_user = #{fpUser,jdbcType=INTEGER},
      intime = #{intime,jdbcType=VARCHAR},
      lasthf = #{lasthf,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
      tag = #{tag,jdbcType=VARCHAR},
      last_user = #{lastUser,jdbcType=INTEGER}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  <!-- 查询Message总数 -->
  <select id="selectMessageCount" resultType="java.lang.Integer">
  	select 
    	count(1)
    from khmessage
    where id > 0
    <if test="msgType != null and msgType != ''">
    	and type = #{msgType,jdbcType=VARCHAR}
    </if>
    <if test="msgType == null or msgType == ''">
    	and type != '3'
    </if>
    <if test="gsNum !=null and gsNum != ''">
    	and fp_user = #{gsNum,jdbcType=VARCHAR}
    </if>
    <if test="nextVisitTime != null and nextVisitTime != 'history'.toString()">  
       and lasthf = #{nextVisitTime,jdbcType=VARCHAR} 
    </if>
    <if test="nextVisitTime != null and nextVisitTime == 'history'.toString()"> 
       and lasthf != '' and lasthf <![CDATA[<]]> date_format(curdate(),'%Y-%m-%d') 
    </if> 
  </select>
  
  <!-- 分页查询Message -->
  <select id="selectMessageByPage" resultMap="ResultMapWithBLOBs">
  	select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from khmessage
    where id > 0
    <if test="msgType != null and msgType != ''">
    	and type = #{msgType,jdbcType=VARCHAR}
    </if>
    <if test="msgType == null or msgType == ''">
    	and type != '3'
    </if>
    <if test="gsNum !=null and gsNum != ''">
    	and fp_user = #{gsNum,jdbcType=VARCHAR}
    </if>
    <if test="nextVisitTime != null and nextVisitTime != 'history'.toString()">  
       and lasthf = #{nextVisitTime,jdbcType=VARCHAR} 
    </if>
    <if test="nextVisitTime != null and nextVisitTime == 'history'.toString()"> 
       and lasthf != '' and lasthf <![CDATA[<]]> date_format(curdate(),'%Y-%m-%d') 
    </if> 
    <if test="nextVisitTime == null">
    	order by id desc 
    </if>
    <if test="nextVisitTime != null">
    	order by lasthf desc 
    </if>
    limit #{startNo,jdbcType=INTEGER} ,#{pageSize,jdbcType=INTEGER}
  </select>
  
  <!-- 根据条件搜索message -->
  <select id="searchMessageByCondition" resultMap="ResultMapWithBLOBs">
  	select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from khmessage
    where id > 0 
    <if test="custTel != null and custTel != ''">
    	and kh_tel = #{custTel,jdbcType=VARCHAR}
    </if>
    <if test="msgId != null and msgId != ''">
    	and id = #{msgId,jdbcType=VARCHAR}
    </if>
    <if test="custName !=null and custName != ''">
    	and kh_name = #{custName,jdbcType=VARCHAR}
    </if>
    <if test="userNum != null and userNum != ''">  
       and fp_user = #{userNum,jdbcType=VARCHAR} 
    </if> 
  </select>
  
  <!-- 批量插入 -->
  <insert id="bactchInsert">
   <foreach collection="msgList" item="msg" separator=";">
	    insert into khmessage
	    <trim prefix="(" suffix=")" suffixOverrides="," >
	      <if test="msg.id != null" >
	        id,
	      </if>
	      <if test="msg.khName != null" >
	        kh_name,
	      </if>
	      <if test="msg.khTel != null" >
	        kh_tel,
	      </if>
	      <if test="msg.khAddress != null" >
	        kh_address,
	      </if>
	      <if test="msg.fpUser != null" >
	        fp_user,
	      </if>
	      <if test="msg.intime != null" >
	        intime,
	      </if>
	      <if test="msg.lasthf != null" >
	        lasthf,
	      </if>
	      <if test="msg.type != null" >
	        type,
	      </if>
	      <if test="msg.tag != null" >
	        tag,
	      </if>
	      <if test="msg.lastUser != null" >
	        last_user,
	      </if>
	      <if test="msg.khLy != null" >
	        kh_ly,
	      </if>
	      <if test="msg.fpHf != null" >
	        fp_hf,
	      </if>
	    </trim>
	    <trim prefix="values (" suffix=")" suffixOverrides="," >
	      <if test="msg.id != null" >
	        #{msg.id,jdbcType=BIGINT},
	      </if>
	      <if test="msg.khName != null" >
	        #{msg.khName,jdbcType=VARCHAR},
	      </if>
	      <if test="msg.khTel != null" >
	        #{msg.khTel,jdbcType=VARCHAR},
	      </if>
	      <if test="msg.khAddress != null" >
	        #{msg.khAddress,jdbcType=VARCHAR},
	      </if>
	      <if test="msg.fpUser != null" >
	        #{msg.fpUser,jdbcType=INTEGER},
	      </if>
	      <if test="msg.intime != null" >
	        #{msg.intime,jdbcType=VARCHAR},
	      </if>
	      <if test="msg.lasthf != null" >
	        #{msg.lasthf,jdbcType=VARCHAR},
	      </if>
	      <if test="msg.type != null" >
	        #{msg.type,jdbcType=INTEGER},
	      </if>
	      <if test="msg.tag != null" >
	        #{msg.tag,jdbcType=VARCHAR},
	      </if>
	      <if test="msg.lastUser != null" >
	        #{msg.lastUser,jdbcType=INTEGER},
	      </if>
	      <if test="msg.khLy != null" >
	        #{msg.khLy,jdbcType=LONGVARCHAR},
	      </if>
	      <if test="msg.fpHf != null" >
	        #{msg.fpHf,jdbcType=LONGVARCHAR},
	      </if>
	    </trim>
    </foreach>
  </insert>
  
  <!-- 联想查询电话号码 -->
  <select id="queryLinkedTel" resultType="java.lang.String">
  	select kh_tel
    from khmessage
    where kh_tel like concat(#{telNo},'%') 
    <if test="gsNum != null" >
	   and fp_user=#{gsNum,jdbcType=VARCHAR}
	</if>
  </select>
  
  <!-- 查询一页中电话号码数据库中存在的记录 -->
  <select id="queryExistTel" resultType="java.lang.String">
  	select kh_tel
    from khmessage
    where kh_tel in 
    <foreach collection="telList" item="khTel" index="index" open="(" close=")" separator=",">
    	#{khTel,jdbcType=VARCHAR}
    </foreach>
  </select>
  
  <!-- 根据用户查询留言id -->
  <select id="selectMsgIdByUser" resultType="java.lang.String">
  	select id from khmessage where fp_user = #{srcUser} order by id
  </select>
  
  <!-- 批量更新(分配) -->
  <update id="batchUpdateByUser">
  	update khmessage set fp_user = #{fpUser} where id in 
  	<foreach collection="msgList" index="index" open="(" close=")" item="msg" separator=",">
  		#{msg}
  	</foreach>
  </update>
  
  <update id="updateToUnVisit">
  	update khmessage set type = 0 
  	where (fp_hf='' || fp_hf is null) 
  	and (lasthf='' || lasthf is null)
  </update>
  
</mapper>